h1, h2, h3, p {
  color: rgb(255, 255, 255);
  font-family: 'Courier New', monospace;
}

h1, h2, h3 {
  font-weight: 100;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

header, article, footer {
  width: 90%;
  background-color: rgb(10, 10, 10);
  margin: auto;
  border-radius: 1.5em;
}

header {
  display: flex;
  text-align: right;
  height: 8em;
}

nav {
  width: 60%;
  margin: auto;
  margin-left: 10%;
}

nav > ul {
  width: 100%;
  margin: auto;
  margin-left: 5%;
  margin-right: 5%;
  height: 70%;
  display: flex;
}

nav li {
  margin: auto;
  margin-left: 5%;
  background-color: rgb(36, 36, 36);
  border: solid rgb(60, 60, 60) 0.01em;
  height: 100%;
  width: 20%;
  text-align: center;
} 

nav h2 {
  font-size: 1.1em;
}

nav a {
  text-decoration: none;
}

.menu {
  padding: 0;
  display: flex;
  height: 100%;
  list-style-type: none;
}

.menu li {
  margin-left: 1rem;
  color: white;
}

.derigaming {
  height: 8em;
  border-radius: 5em;
}

article {
  text-align: center;
  padding: 2em;
  margin-top: 2em;
}

 article p {
  text-align: left;
 }
 
 .thicktext {
  font-weight: 800;
 }

 .maintext {
  width: 70%;
  padding-top: 3em;
 }

 .article {
  display: flex;
 }

 .events {
  margin: 1.5rem;
  float: right;
  width: 30%;
  display: block;
 }

 .imageholder {
  margin-top: 2em;
  border: 0.07em solid rgba(255, 255, 255, 0.141);
  padding: 0;
  float: right;
  background-color: rgb(30,30,30);
  width: 90%;
  height: 20rem;
  padding: 1em;
  margin: 0;
 }

 .image {
  padding: 0;
  margin: 0;
  object-fit: cover;
  float: center;
  height: 70%;
  width: 70%;
 }

 .imageholder p {
  text-align: center;
 }

footer {
  margin-top: 3em;
  height: 25em;
  padding: 2em;
  display: block;
}

.footer-top {
  display: flex;
  height: 80%;
}

.footer-left, .footer-right {
  display: block;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 46%;
}

footer a {
  text-decoration: underline;
  color: white;
}

footer h3 {
  border-bottom: rgb(60, 60, 60) solid 0.01em;
  border-right: rgb(60, 60, 60) solid 0.01em;
  width: 95%;
  margin-top: 2em;
}

.footer-bottom {
  margin-top: auto;
  margin-bottom: 1em;
  height: 10%;
  float: bottom;
}

.footer-bottom a {
  margin: auto;
  color: white;
  text-decoration: none;
  margin-left: 1em;
  font-size: 1.3em;
}

footer .imageholder {
  height: 80%;
}

.player-portrait {
  margin: auto;
  width: 80%;
  height: 90%;
  text-align: center;
}

.footer-right > h2 {
  text-align: center;
  margin-bottom: 0.25em;
  margin-top: 0.5em;
}

.player-portrait img {
  margin: auto;
  margin-top: 0.5em;
  height: 60%;
  width: 95%;
  object-fit: cover;
}