/* Styling for header */
header {
  justify-content: space-between;
  border-bottom-style: ridge;
}

p, h1, h2, h3 {
  font-family: 'Times New Roman', Times, serif;
}

header, .oslomet-logo, .oslomet-logo img {
  background-color: #a2ffbe;
}

.oslomet-logo {
  margin-bottom: 1.25em;
  margin: 0;
  height: 100%;
  object-fit: contain;
}

.overskrift {
  padding-top: 3em;
  width: 80%;
  margin: auto;
  float: middle;
}

.oslomet-logo, .overskrift, .oversikt, article div h2, .side-nav > div, .interessert-liste {
  text-align: center;
}

.overskrift p {
  font-size: 1.4em;
}

.oslomet-logo img {
  height: 50%;
  width: 50%;
  mix-blend-mode:multiply;
}

/* Styling for navigasjonsmeny */

nav {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
}

article div {
  margin: auto;
  float: center;
  width: 80%;
  margin-top: 2em;
  padding: 1em;
}



nav > div {
  margin: auto;
  width: 20%;
}

nav a {
  font-weight: bold;
  color: #070606;
  font-size: 1.5rem;
  text-decoration: none;
}

a {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.side-nav {
  height: 100%;
  position: fixed;
  width: 19.5%;
  background-color: white;
  float: right;
  border-right-style: double;
}


.side-nav a {
  text-decoration: none;
}

.side-nav a > div {
  display: flex;
  padding-left: 1em;
  text-align: left;
}

.side-nav a > div > div{
  font-size: 1.8em; 
  margin-left: auto;
  padding-right: 0.15em;
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
}

.side-nav a > div:hover {
  background-color: rgb(216, 216, 216);
}

main {
  background-color:#e3ffeb;
  background-image: linear-gradient( #e3ffeb, white)
}

.footer-bottom {
  width: 100%;
  border: 0.02em;
  border-top-style: solid;
  border-color: black;
  padding-top: 2em;
  padding-bottom: 1em;
  align-items: center;
  display: flex;
}

.footer-bottom div {
  margin: auto;
}

.footer-bottom a {
  font-size: 1.5em;
}

footer a {
  text-decoration: none;
}

.footer-merinfo ul li a {
  color: black;
}

a:active {
  color: none;
}

.article-bottom {
  width: 95%;
  float: center;
  display: flex;
  align-items: center;
  align-items: flex-start;
  margin: auto;
  margin-top: 3em;
}

.article-bottom > div {
  width: 48%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

article {
  padding-top: 3em;
}

.article-bottom a {
  text-decoration: none;
}

.kanskje-interessert {
  display: inline-block;
  background-color: white;
  border: solid 0.01em;
  display: flex;
}

.kanskje-interessert ul {
  list-style: none;
  padding: 0;
}

.studiebakgrunn {
  display: grid;
  align-items: center;
}

.student-historier {
  border: solid 0.01em;
  background-color: #c2ffd4;
  padding: 0.3em;
}

.student-historier, .studieinformasjon, .faglig-leder {
  text-align: center;
}


.studiebakgrunn div {
  float: center;
  margin: auto;
}

.studieinformasjon, .side-nav img, .article-top {
  width: 80%;
}

.faglig-leder {
  width: 100%;
  margin-top: 3em;
}

.faglig-leder img, .studenthistorier img, .side-nav img  {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.faglig-leder img {
  width: 40%;
  border: double 0.02em;
}

.student-historier img {
  width: 95%;
}


.side-nav li {
  list-style: none;
  border-bottom: solid 0.01em;
}

.side-nav li a {
  height: 100%;
}

.side-nav ul {
  padding: 0;
}

.article-top {
  border-left: solid green 1em;
  border-right: solid green 1em;
  float: center;
  margin: auto;
}

/* styling for felles-footer*/
footer{
  padding: 0;
  margin: 0;
  margin-top: 2em;
  background-color: #a2ffbe;
  background-image: linear-gradient(white,#a2ffbe);
  float: center;
  align-items: center;
  display: grid;
}


.interessert-liste a div {
  width: 100%;
}

.footer-box {
  width: 70%;
  padding: 3.5em;
  padding-bottom: 1em;
  padding: auto;
  display: flex;
  align-items: center;
  text-align: center;
  align-items: flex-start;
  margin: auto;
}

.underline {
  border: 0.02em;
  border-bottom-style: solid;
  border-color: black;
}

.footer-text { 
  width: 100%;
  margin-bottom: 1.25em;
  text-align: left;
}


.footer-text h2 {
  font-size: 2.1em;
  margin-bottom: 0.6em;
  text-align: center;
  width: 100%;
}

.footer-text h3 {
  font-size: 1.25em;
  margin-bottom: 0.6em;

}

.footer-text p {
  margin-bottom: 0.25em;
}

.footer-merinfo {
  display: grid;
  margin-left: 3em;
}

.footer-oslomet, .footer-merinfo {
  margin-left: auto;
  margin-right: auto;
}


.footer-merinfo ul {
  list-style-type: none;
  padding:0;
}

.footer-merinfo ul li {
  margin-bottom: 0.6em;
}

.footer-merinfo a {
  color: white;
  text-decoration: underline;
}

.footer-sosialmedia {
  display: flex;
  align-items: center;
}

.footer-socialmedia * {
  text-decoration: none;
  margin-left: 0.5em;
}

.footer-nyhet button {
  background-color: black;
  padding: 0.6em 1.25em

}


/*styling for sections*/
.oversikt {
  width: 80%;
  margin: auto;
  float: middle;
}

.oversikt div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25em;
}

.oversikt > div {
  border-bottom: solid 0.05em
}

.section-category h2 {
  font-weight: bold;
  font-size: 1.5em ;
  border-right: solid 0.01em;
}

.section-category {
  text-align: left;
}

.section-category p {
    margin-inline-end: 0;
}

.pushright {
  width: 81%;
  margin-left: 19%;
}
/*stylying for semestertabell*/
body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(0, 0, 0); 
}

.table-heading {
  background-color: #a2ffbe;
}

h1 {
  font-size: 2.2em;
  font-weight: bold;
  margin-top: 0;
  text-align: center;
}


h2 {
  text-align: center;
}

.semester-table a {
  font-weight: lighter;
}

.semester-table h3{
  font-size: 1em;
}

.semester-table li {
   font-weight:lighter;
}

table.semester-table {
  width: 80%;
  margin: auto;
  float: center;
  border-collapse: collapse;
  margin: 1.25em auto;
  background-color: #fff;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
}



table.semester-table th, table.semester-table td {
  border: 0.05em solid #ccc;
  padding: 0.6em;
  text-align: left;
  font-weight: bold;
}
table.semestertable th {
  background-color: rgb(116, 111, 111);
  color:rgb(0, 0, 0);
  font-weight:bold;
}
table.semester-table tr:nth-child(even) {
  background-color: #e0e0e0;
}

table.semester-table tr:nth-child(odd) {
  background-color: #ffffff;
}

/*dropdownmenu i main*/
details {
  margin: 0.25em 0;
  cursor:pointer
}

details summary {
  color:rgb(0, 0, 0);
  font-weight:bold;
  outline: #070606;
}

details ul {
  margin-top: 0.25em;
  padding-left: 1.25em;
  list-style-type: disc;
  color: black;
}

details ul li {
  margin: 0.25em 0
}

/* hover effects*/
/*table.semester-table td:hover {
  background-color: #e6e6e6c0;
}*/

summary:hover {
  color: rgba(117, 117, 117, 0.86);
}

.rightandleftspace {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

/* these lines are exclusive to the github page */

.collaboration {
  width: 90%;
  margin: auto;
}

.collaboration > div {
  width: 100%;
  margin: auto;
}

.image1, .image2 {
  width: 95%;
  margin: auto;
  margin-right: 0;
  display: flex;
  height: 25em;
  background-color: white;
  border: solid 0.01em;
  padding: 0.5em;
  margin-left: 0;
  margin-bottom: 1em;
}

.commit-image {
  padding: 0;
  margin: 0;
  width: 70%;
}

.commit-text {
  width: 30%;
}

.image1 img, .image2 img, .specific-changes img {
  height: 100%;
  width: 100%;  
  overflow: hidden;
}

.image2 div {
  text-align: right;
}

.specific-changes {
  display: flex;
}

.specific-changes > div {
  text-align: center;
}

.specific-changes p {
  color:#464646;
}

.lighthouse-bilder {
  display: block;
  text-align: center;
  margin: auto;
  background-color: white;
  border: double 0.2em;
}

.lighthouse-bilder p {
  color: rgb(71, 71, 71);
  margin-bottom: 3em;
}

.lighthouse-bilder img {
  width: 100%;
}

/*everything beyond here is for activity. */
.activity h1, .activity h2, .activity h3, .activity p {
  color: rgb(255, 255, 255);
  font-family: 'Courier New', monospace;
}

.activity h1, .activity h2, .activity h3 {
  font-weight: 100;
}

.activity h1 {
  font-size: 4em;
}

.activity h2 {
  font-size: 2em;
}

.activity header, .activity article, .activity footer {
  width: 90%;
  background-color: rgb(10, 10, 10);
  margin: auto;
  border-radius: 1.5em;
}

.activity header {
  display: flex;
  text-align: right;
  height: 8em;
}

.activity nav {
  width: 100%;
  margin: auto;
  margin-left: 20%;
  margin-right: 5%;
  height: 70%;
  display: flex;
}

.activity nav > div{
  background-color: rgb(36, 36, 36);
  border: solid rgb(60, 60, 60) 0.01em;
  height: 80%;
  width: 20%;
  margin: auto;
  text-align: center;
  display: flex;
} 


.activity nav a {
  margin: auto;
  font-size: 0.7rem;
  text-decoration: none;
  color: white;
  text-align: center;
}

.activity .menu {
  padding: 0;
  display: flex;
  height: 100%;
  list-style-type: none;
}

.activity .menu li {
  margin-left: 1rem;
  color: white;
}

.activity .derigaming {
  height: 8em;
  border-radius: 5em;
}

.activity article {
  text-align: center;
  padding: 2em;
  margin-top: 2em;
}

.activity article p {
  text-align: left;
}
 
 .activity .thicktext {
  font-weight: 800;
}

 .activity .maintext {
  width: 70%;
  padding-top: 3em;
}

.activity .article {
  display: flex;
}

.activity .events {
  margin: 1.5rem;
  float: right;
  width: 30%;
  display: block;
}

.activity .imageholder {
  margin-top: 2em;
  border: 0.07em solid rgba(255, 255, 255, 0.141);
  padding: 0;
  float: right;
  background-color: rgb(30,30,30);
  width: 90%;
  height: 20rem;
  padding: 1em;
  margin: 0;
}

.activity .image {
  padding: 0;
  margin: 0;
  object-fit: cover;
  float: center;
  height: 70%;
  width: 70%;
}

.activity .imageholder p {
  text-align: center;
}

.activity footer {
  margin-top: 3em;
  padding: 2em;
  display: block;
  background-image: none;
}

.activity .footer-top {
  display: flex;
  height: 80%;
}

.activity .footer-left, .activity .footer-right {
  display: block;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 46%;
}

.activity footer a {
  text-decoration: underline;
  color: white;
}

.activity footer h3 {
  border-bottom: rgb(60, 60, 60) solid 0.01em;
  border-right: rgb(60, 60, 60) solid 0.01em;
  width: 95%;
  margin-top: 2em;
}

.activity .footer-bot {
  margin-top: auto;
  margin-bottom: 1em;
  height: 10%;
  float: bottom;
}

.activity .footer-bot a {
  margin: auto;
  color: white;
  text-decoration: none;
  margin-left: 1em;
  font-size: 1.3em;
}

.activity footer .imageholder {
  height: 80%;
}

.activity .player-portrait {
  margin: auto;
  width: 80%;
  height: 90%;
  text-align: center;
}

.activity .footer-right > h2 {
  text-align: center;
  margin-bottom: 0.25em;
  margin-top: 0.5em;
}

.activity .player-portrait img {
  margin: auto;
  margin-top: 0.5em;
  height: 60%;
  width: 95%;
  object-fit: cover;
}


/* Responsive design */

@media(max-width:800px) {
  .side-nav {
    width: 0%;
    height: 0%;
  }
  .side-nav p, .side-nav a, .side-nav div {
    height: 0;
    opacity: 0;
  }
  .pushright {
    width: 100%;
    margin-left: 0%;
  }
  .footer-bottom, .footer-text, .footer-box {
    width: 80%;
    padding: 1rem;
    margin: auto;
    display: block;
  }
  .footer-bottom {
    text-align: center;
  }
  nav {
    height: 3em;
  }
  
  nav a {
    font-size: 0.7em;
  }
  .footer-text {
    width: 90%;
  }
  .oversikt h2 {
    font-size: 1em;
  }
  .specific-changes{
    display: block;
    text-align: center;
  }
  .kanskje-interessert h2 {
    font-size: 1.2em;
  }
  .kanskje-interessert h3 {
    font-size: 1em;
  }
  .kanskje-interessert p {
    font-size: 0.8em;
  }
  .student-historier h2 {
    font-size: 1.3em;
  }
  .faglig-leder p {
    font-size: 0.8em;
  }
  .activity nav {
    margin: auto;
  }
  .activity header img {
    max-height: 40%;
    width: 40%;
    object-fit: contain;
    margin: auto;
  }
  .activity header a {
    font-size: 0.4em;
  }

  .activity nav > div {
    margin-left: 0;
    margin-right: 0;
  } 

  .activity article .article {
    display: block;

  }

  .activity article .maintext {
    width: 90%;
  }

  .activity .footer-top {
    display: block;
  }
}
