




/* Styling for header */
.felles-header {
  background-color: #00FF4C;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  padding-bottom: 1rem;
  border-style: ridge;
  
}

.logo {
  text-align: center;
  margin-bottom: 20px;
  background-color: #00FF4C ;

}

.logo img {
  max-width: 120px;
  height: auto;
  mix-blend-mode:multiply ;
  background-color:#00FF4C;
}





/* Styling for navigasjonsmeny */
nav ul {
  list-style: none;
  display: flex;
  gap: 22px;
}

nav ul li a {
  text-decoration:underline;
  font-weight: bold;
  color: #070606;
  font-size: 1.3rem;

}
